{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <i class="bi bi-{% if log %}pencil{% else %}plus-circle{% endif %}"></i> {{ title }}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Save
                </button>
                <a href="{% if log %}{% url 'maintenance:detail' log.pk %}{% else %}{% url 'maintenance:list' %}{% endif %}"
                    class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}